name: CI
on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          cache: npm

      - name: Install packages
        run: npm install
      - name: Run tests
        run: npm test
